#frame {
    border: 1px solid rgba(0, 0, 0, 15);
    border-radius: 5px;
    background-color: transparent;
}

QPushButton#ListFrame {
    margin-top: 7px; /* 保持搜索按钮和输入框在同一水平线 */
}

SettingInterface, #scrollWidget {
    background-color: transparent;
}

QScrollArea {
    background-color: transparent;
    border: none;
}


/* 标签 */
QLabel#settingLabel {
    font: 31px 'Microsoft YaHei Light';
    background-color: transparent;
    color: black;
}
